Repository transitmatters/regional-rail-explorer, pull requests merged in 2025-02, with the labels that each got.

#145 Remove Non-Pure CSS Selectors from SCSS Modules
  next.config.js
  package-lock.json
  package.json
  src/components/AppFrame/AppFrame.module.scss
  src/components/FrequencyTimeline/FrequencyTimeline.module.scss
  src/components/Home/Home.module.scss
  src/components/Home/Home.tsx
  src/components/JourneySummaryCard/JourneySummaryCard.tsx
  src/components/JourneyTimeline/JourneyTimeline.module.scss
  src/components/JourneyTimeline/JourneyTimeline.tsx
  src/pages/_app.tsx
  src/styles/animations.scss
  src/styles/base.scss
  src/styles/global.scss
Labels: dependencies, frontend

#138 Handle Green Line B Branch Consolidated Stations
  src/stations.ts
  src/storydata/stationsByLine.ts
Labels: frontend

#139 Modernize RRE, Part 2: Replace reakit with @ariakit, update NextJS
  .eslintrc.js
  .nvmrc
  README.md
  devops/playbook.yml
  next-env.d.ts
  package-lock.json
  package.json
  public/favicon.png
  public/favicon_128.png
  public/manifest.json
  src/components/AppContextProvider/AppContextProvider.tsx
  src/components/GlobalNav/GlobalNav.tsx
  src/components/Menu/Menu.tsx
  src/components/Menu/MenuItem.tsx
  src/components/ModeSelect/ModeSelect.module.scss
  src/components/ModeSelect/ModeSelect.tsx
  src/components/StationListing/StationListing.tsx
  src/components/StationPicker/StationPicker.tsx
  src/components/SuggestedJourneys/SuggestedJourneys.tsx
  src/components/index.ts
  src/pages/_app.tsx
Labels: documentation, ci/cd, dependencies, frontend

#149 Fix dev server
  next.config.js
  next.config.ts
  package-lock.json
  package.json
  src/components/Home/Home.tsx
  src/hooks/useIncrementingTime.ts
  src/hooks/useSvgLayout.ts
  src/hooks/useViewport.ts
  src/server/_loadScenarios.ts
  src/server/network/network.ts
  src/server/network/regionalRailRoutes.ts
  src/server/scenarios.ts
Labels: dependencies, tech-debt, frontend

#152 Updating to Storybook 8 and Upgrading NodeJS
  .eslintrc.js
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/lint.yml
  .npmrc
  .nvmrc
  .storybook/main.ts
  README.md
  devops/playbook.yml
  package-lock.json
  package.json
  public/tm-logo-big.svg
  public/tm-logo.svg
  src/components/AmenityListing/AmenityListing.tsx
  src/components/AppContextProvider/AppContextProvider.tsx
  src/components/AppFrame/AppFrame.stories.tsx
  src/components/AppFrame/AppFrame.tsx
  src/components/AppFrame/index.ts
  src/components/CrowdingIllustration/CrowdingIllustration.stories.tsx
  src/components/CrowdingIllustration/CrowdingIllustration.tsx
  src/components/DeparturePicker/DeparturePicker.tsx
  src/components/DeparturePicker/DeparturePickerChrome.tsx
  src/components/DeparturePicker/DeparturePickerMobile.tsx
  src/components/Explorer/Explorer.tsx
  src/components/Explorer/socialMeta.tsx
  src/components/FrequencyTimeline/FrequencyTimeline.tsx
  src/components/GlobalNav/GlobalNav.tsx
  src/components/Home/Home.stories.tsx
  src/components/Home/Home.tsx
  src/components/Home/OverviewCircle.tsx
  src/components/JourneyPicker/JourneyPicker.tsx
  src/components/JourneySummaryCard/JourneySummaryCard.tsx
  src/components/JourneyTimeline/JourneyTimeline.tsx
  src/components/NetworkVisualizer/LiveNetworkVisualizer.tsx
  src/components/NetworkVisualizer/NetworkVisualizer.stories.tsx
  src/components/NetworkVisualizer/NetworkVisualizer.tsx
  src/components/NetworkVisualizer/index.ts
  src/components/NumericTimePicker/NumericTimePicker.tsx
  src/components/PowerText/PowerText.tsx
  src/components/RoutePage/RoutePage.tsx
  src/components/RouteVisualizer/LiveRouteVisualizer.tsx
  src/components/RouteVisualizer/RouteVisualizer.tsx
  src/components/StationDetails/StationDetails.tsx
  src/components/StationName/StationName.tsx
  src/components/SuggestedJourneys/SuggestedJourneys.tsx
  src/components/index.ts
  tsconfig.json
Labels: documentation, ci/cd, dependencies, frontend
